body { font-family: 'Playfair Display', serif;}
body h1 { font-family: 'Limelight', cursive; font-size: 50px;}
p { font-size: 20px; }
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #F5F5F5;
}

footer ul { margin: 20px 0px; }
footer ul li { display: inline; margin-right: 20px; }